.account-showcase {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}
.account-showcase a {
    width: 100%;
    height: 6.66667rem;
    display: block;
    font-size: 1.06667rem;
    color: #ffffff;
    border-radius: 0.33333rem;
    padding: 1.46667rem 1.33333rem 1.33333rem 6.66667rem;
    position: relative;
    box-shadow: 0 6px 12px 0 rgb(0 0 0 / 16%);
    -webkit-box-shadow: 0 6px 12px 0 rgb(0 0 0 / 16%);
    -moz-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.16);
}
.account-showcase-shopping {
    background: #ff9f1a;
}
.account-showcase-balance {
    background: #1abc9c;
}
.account-showcase-parcel {
    background: #2ecc71;
}
.account-showcase-count {
    font-family: "SEGUISB", sans-serif;
    font-size: 1.2rem;
    display: block;
    margin-top: 0.2rem;
}
@media only screen and (max-width: 768px) {
    .desktop-show {
        display: none;
    }
}
.limit-notification {
    overflow: scroll;
    white-space: nowrap;
}
.limit-notification {
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px 1px rgb(0 0 0 / 5%);
    -webkit-box-shadow: 0px 3px 6px 1px rgb(0 0 0 / 5%);
    -moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.05);
}
@media only screen and (max-width: 768px) {
    .mobile-show {
        display: block;
    }
}

.limit-notification a:first-of-type {
    margin-right: 10px;
}
.limit-notification a {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    box-shadow: 0px 3px 6px 1px rgb(0 0 0 / 5%);
    -webkit-box-shadow: 0px 3px 6px 1px rgb(0 0 0 / 5%);
    -moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.05);
    border: solid 1px rgb(193 193 193 / 20%);
    border-radius: 2px;
}
.account-sidebar a {
    font-size: 1.13333rem;
    color: #363636;
    padding: 0.8rem 1.33333rem;
    display: block;
    transition: all 0.1s;
}
