$color_1: #ffa600;
$color_2: #363636;
$background-color_1: transparent;

.account-sidebar-nav {
	padding: 2rem 0;
	background: #ffffff;
	display: block;
	border-radius: 0.33333rem;
	margin-top: 0.66667rem;
	min-height: 44.66667rem;
	box-shadow: 0 6px 12px 0 rgb(0 0 0 / 16%);
	-webkit-box-shadow: 0 6px 12px 0 rgb(0 0 0 / 16%);
	-moz-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.16);
	text-align: start;
}
.account-sidebar {
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		list-style: none;
		margin-bottom: 0.33333rem;
	}
	a {
		&:hover {
			color: $color_1;
			background: none !important;
		}
		font-size: 1.13333rem;
		color: $color_2;
		padding: 0.8rem 1.33333rem;
		display: block;
		transition: all 0.1s;
	}
	a.active {
		color: $color_1;
		background: none !important;
	}
	width: 100%;
}
ol {
	margin-top: 0;
	margin-bottom: 1rem;
}
ul {
	margin-top: 0;
	margin-bottom: 1rem;
}
dl {
	margin-top: 0;
	margin-bottom: 1rem;
}
a {
	transition: all 0.3s ease;
	color: $color_1;
	text-decoration: none;
	background-color: $background-color_1;
	transition: all 0.3s ease;
	color: $color_1;
	text-decoration: none;
	background-color: $background-color_1;
}
.sidebar-icon {
	max-width: 20px;
	margin-right: 10px;
	vertical-align: middle;
}
img {
	vertical-align: middle;
	border-style: none;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
}
@media only screen and (max-width: 768px) {
	.mobile {
		display: none;
	}
}