@import '../../../../variables';
@import '../../../../helper';

#step{
    .myContainer{
        img:not(.main_img){
            height: 70px;
            width: 70px;
        }
        .title{
            text-align: center;
        }
        h2{
            font-size: 2rem;
            font-weight: 700;
    
        }
        .flex-row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .step{
                display: flex;
                text-align: left;
                align-items: end;
                margin-top: 50px;
                .text{
                    max-width: 480px;
                    margin-left: 30px;
                    p,a{
                        font-size: 0.8rem;
                    }
                }
            }
        }
        
    }
}


@media screen and (max-width: 860px) {
    #step{
        .myContainer{
            text-align: center;
            h2{
                font-size: 18px;

        
            }
            .flex-row{
                padding: 0 1rem;
                .main_img{
                    display: none;
                }
                img{
                    height: 70px;
                    width: 40px;
                }

                p,a{
                    font-size: 0.6rem;
                }
            }
        }
    }

}