@import "../../variables";
@import "../../mixins";

* {
  box-sizing: border-box;
}

.header a {
  color: $link-color;
  text-decoration: none;
}

.topHeader {
  display: flex;
  background: $background-color;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
}

.header-top-inside {
  justify-content: space-between;
  display: flex;
}

.headerTopLeft {
  display: flex;
}

.langOpt {
  margin-right: 50px;
  border: 0px;
  background: $background-color;
}

.header-phone {
  display: flex;
  gap: 5px;
}

.random {
  margin-left: 10px;
  margin-right: 10px;
}

//bottom part

.bottomHeader {
  display: flex;
  justify-content: space-around;
}

.header-btm-inside {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}

.header-logo {
  position: relative;
  left: -40px;
}

.headerMenu {
  display: flex;
  align-items: center;
}

.headerList {
  list-style-type: none;
  display: flex;
  gap: 25px;
}

.headerList a {
  font-family: $main_font;
  font-size: 0.93333rem;
  font-weight: 600;
  color: $text-color;
}

.header-inside {
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

.container {
  max-width: 1300px !important;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}


//buttons

.singIn-button {
  border: 0px;
  color: $link-color;
  padding-right: 0px;
}