@import '../../variables';
@import '../../mixins';

* {
    box-sizing: border-box;
}

.header a {
    color: #707070;
    text-decoration: none;
}

.topHeader {
    display: flex;
    background: #ebf0f4;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}

.headerTopLeft {
    display: flex;
}

.langOpt {
    margin-right: 50px;
    border: 0px;
    background: #ebf0f4;
}

.header-phone {
    display: flex;
    gap: 5px;
}

.random {
    margin-left: 10px;
    margin-right: 10px;
}

//bottom part

.bottomHeader {
    display: flex;
    justify-content: space-around;
}

.bottomHeader img {
    position: relative;
    left: -40px;
}

.headerMenu {
    display: flex;
    align-items: center;
}

.headerList {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

.headerList a {
    font-family: 'SEGUISB', sans-serif;
    font-size: 0.93333rem;
    font-weight: 600;
    color: #363636;
}