h2{
    font-size: 2rem;
    font-weight: 700;
    padding-top: 55px;

}
.title_white{
    color: white;
}
@media screen and (max-width: 860px) {

     h2{
        font-size: 18px;

        
    }
        
    
}