@import '../../../../variables';
#calculator {
  text-align: left;
  background: $gradient;
  .myContainer {
    padding: 25px 0px;
    p {
      color: white;
    }
    .form-container {
      input {
        width: 100%;
        height: 45px;
        padding: 0px 15px;
        border: 1px solid gray;
      }
      .text_input {
        height: 55px;
      }
      background-color: white;
      width: 570px;
      min-height: 590px;
      padding: 40px 75px;
      p {
        color: $main_color;
        font-size: 1.2rem;
      }
      .errorMsg{
        color: red;
        font-size: 0.8rem;
      }
      span{
        color: $text-color;
      }
      .volume_components {
        display: flex;
        margin-top: 20px;

        label.central {
          margin: 0px 25px;
        }
      }
      .weight {
        margin-top: 30px;
        display: flex;
        .unit{
          width: 50%;
        }
        .weight_container {
          margin-left: 35px;
          label {
            .weight_value {
              width: 200px;
            }
          }
        }
      }
      .calculation {
        text-align: center;
        margin-top: 30px;
        span {
          font-weight: 600;
          color: black;
          font-size: 20px;
        }
        button {
          background-image: $gradient;
          padding: 12px 50px;
          color: white;
          border: 0;
          margin-top: 20px;
        }
      }
    }
    img {
      width: 540px;
      height: 290px;
    }
  }
}

@media screen and (max-width: 1420px) {
  #calculator {
    .myContainer {
      img {
        width: 480px;
        height: 230px;
      }
      .form-container {
        width: 520px;
        min-height: 570px;
      }
    }
  }
}
@media screen and (max-width: 1050px) {
  #calculator {
    .myContainer {
      img {
        display: none;
      }
      .form-container {
        width: 570px;
        min-height: 590px;
        margin: 0 auto;
      }
    }
  }
}
@media screen and (max-width: 660px) {
  #calculator {
    .myContainer {
      label{
        width: 100%;
      
      }
 
      img {
        display: none;
      }
      .form-container {
        width: 100%;
        min-height: 590px;
        margin: 0 auto;
        input {
            width: 100%;
        }
        .volume_components{
          margin: 0;
          label.central{
            margin: 0px 0px;
          }
        }
        .volume_components,.weight{
            display: block;
        }
        .weight{
          .unit{
            width: 100%;
          }
            .weight_container{
                margin: 0;
            }
        }
        
      }
      .summary{
        p{
          font-size: 13px;
        }
      }
    }
  }
}
