*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  // line-height: 1.5;
  color: #7a82a6;
  text-align: left;
  background-color: #fff;
}
.container {
  max-width: 1300px !important;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.breadcrumb {
  margin-top: 2.13333rem;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin: 0;
  list-style: none;
  background-color: none;
  border-radius: 0.25rem;
}
section {
  display: block;
}
section .section-title {
  font-family: "SEGUISB", sans-serif;
  font-size: 2.4rem;
  color: #363636;
  text-align: center;
  text-transform: uppercase;
  margin: 0.66667rem 0 4rem 0;
  position: relative;
}
.container {
  max-width: 1300px !important;
}
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
.tab-content > .active {
  display: block;
}

.tariff-inside {
  padding: 2rem 1.33333rem 2.66667rem 1.33333rem;
  background: #ffffff;
  border-radius: 5px;
}
.mobile-show {
  display: none;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table th,
.table td {
  padding: 2rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
th {
  text-align: inherit;
}
.tariff .country-tab-nav a img {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}
.tariff .country-tab table {
  margin-bottom: 0;
}
.turk-img {
  width: 2rem;
  vertical-align: middle;
  border-style: none;
}
.breadcrumb {
  padding-top: 2.13333rem;
}
.breadcrumb ul {
  padding: 0;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #ffa600;
  --secondary: #903af9;
  --success: #32cc6f;
  --info: #3a7dfd;
  --warning: #fa8b0c;
  --danger: #fd4868;
  --light: #f5f7fc;
  --dark: #272b41;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
.body-inside {
  background-color: #f8f8f8;
}
.tariff-inside {
  padding: 2rem 1.33333rem 2.66667rem 1.33333rem;
  background: #ffffff;
  border-radius: 5px;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
table {
  border-collapse: collapse;
}
.breadcrumb a {
  font-size: 1.06667rem;
  color: #707070;
  transition: all 0.2s;
}
a {
  transition: all 0.3s ease;
}
a {
  color: #ffa600;
  text-decoration: none;
  background-color: transparent;
}
.breadcrumb li:not(:last-of-type)::after {
  content: "";
  width: 1rem;
  height: 1rem;

  display: inline-block;
  vertical-align: middle;
  margin: 0 0.3rem;
  position: relative;
  top: -0.2rem;
}
.breadcrumb li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
section .section-title::after {
  content: "";
  width: 4rem;
  height: 0.2rem;
  background: #ffa600;
  position: absolute;
  bottom: -1.33333rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 3px;
}
.tariff table tr:nth-of-type(odd) {
  background: #f8f8f8;
}
.tariff .country-tab .nav-tabs .nav-link.active,
.tariff .country-tab .nav-tabs .nav-item.show .nav-link {
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #fff;
}
.tariff .country-tab-nav a.active {
  background: #fff !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #903af9;
  background-color: #f5f7fc;
  border-color: #dee2e6 #dee2e6 #fff;
}
.tariff .country-tab-nav a {
  font-family: "SEGUISB", sans-serif;
  color: #707070 !important;
  font-size: 1.13333rem;
  padding: 0.66667rem 1.33333rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  // -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container {
  max-width: 1300px !important;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media only screen and (max-width: 768px) {
  .desktop-show {
    display: none;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-show {
    display: block;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #272b41;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media only screen and (max-width: 768px) {
  .tariff-box {
    padding: 2rem;
    background: #fff;
    text-align: center;
    line-height: 32px;
    margin-top: 20px;
    color: #000;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 8px 0px rgb(0 0 0 / 8%);
    -moz-box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 5px 5px 8px 0px rgb(0 0 0 / 8%);
  }
}
@media only screen and (max-width: 768px) {
  .tariff-price {
    font-size: 35px;
    font-weight: 600;
    color: #ffa61e;
    margin-bottom: 16px;
    font-family: "SEGOEUIB", sans-serif;
  }
}
@media only screen and (max-width: 768px) {
  .tariff-content {
    margin: 20px;
  }
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
