$color_1: #ffffff;
$color_2: #fff;
$font-family_1: 'SEGUISB', sans-serif;
$font-family_2: 'SEGOEUI', sans-serif;
$background-color_1: transparent;

@media only screen and (max-width: 767px) {
	.account-btn-group {
		margin-top: 4px;
		margin-bottom: 13px;
		display: flex !important;
		a {
			margin: 0;
			width: 48%;
		}
	}
}
.order-btn {
	padding: 8px 22px !important;
	padding: 9px 20px !important;
	height: auto;
	line-height: 24px;
	color: $color_2 !important;
	font-size: 18px !important;
	font-weight: 400;
	font-family: $font-family_2 !important;
	margin-left: 40px;
}
.btn-green {
	background: #28a745 !important;
	color: $color_1 !important;
}
.btn {
	font-family: $font-family_1;
	font-size: 0.93333rem;
	padding: 0.66667rem 1.33333rem;
	outline: none;
	border: none;
	display: inline-block;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: $background-color_1;
	border: 1px solid transparent;
	padding: 0 1.33rem;
	font-size: 0.933rem;
	line-height: 2.875rem;
	border-radius: 0.1875rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.control-mobile-menu {
	display: none !important;
}
.btn-orange {
	background: #ffa600 !important;
	color: $color_1 !important;
}
@media only screen and (max-width: 768px) {
	.control-mobile-menu {
		display: block !important;
	}
	.account {
		.return-account {
			font-size: 15px;
			color: $color_2;
			border-radius: 3px;
			background: #ffa61e;
			margin-bottom: 1rem;
			padding: 0.5rem 1.2rem;
			position: relative;
			cursor: pointer;
		}
	}
}
