$main_font: 'SEGOEUI', sans-serif;
$second_font:muli, sans-serif;
$main_color:#ffa600;
$gradient:linear-gradient(#ff7700, #ffa600);
$mex-bg-color : #f8f8f8;
$orange-theme: #ffa600;
$link-color: #707070;
$text-color: #363636;
$background-color: #ebf0f4;
