$main_font: 'SEGOEUI', sans-serif;
$second_font:muli, sans-serif;
$main_color:#ffa600;
$gradient:linear-gradient(#ff7700, #ffa600);
$mex-bg-color : #f8f8f8;
$orange-theme: #ffa600;
$link-color: #707070;
$text-color: #363636;
$background-color: #ebf0f4;
$greenish-color: #28a745;
$another-green: #82cc70;
$beyan-item: #f5f7fc;
$beyan-border-color: #dee2e6;
$price-color: #6aa744;
$close-order-color: #f02830;
$violet: #3a7dfd;