$main_font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$second_font:muli, sans-serif;
$mex-bg-color : #f8f8f8;
$orange-theme: #ffa600;
$link-color: #707070;
$text-color: #363636;
$background-color: #ebf0f4;