* {
    box-sizing: border-box;
}

span {
    font-size:16px;
}

p {
    line-height: 1.8rem;
}

.mex-content {
    text-align: start;
    font-size: 1rem;
    color: #363636;
}

.mex-page {
    font-family: "SEGOEUI", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f8f8f8;
    text-align: left;
}

.mex-title {
        font-family: 'SEGUISB', sans-serif;
        font-size: 2.4rem;
        color: #363636;
        text-align: center;
        text-transform: uppercase;
        margin-top: 0px;
        padding-top: 50px;
        position: relative;
    
}

.mex-container {
    padding-right: 15px;
    padding-left: 15px;
}

.some-line {
    width: 60px;
    height: 3px;
    background: #ffa600;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}