@import '../../../../variables';
@import '../../../../mixins';
#hero{
    text-align: left;
    font-family: $main_font;
    .hero-slider-wrapper{
        max-height: 670px !important; 

    }
    img{
        width: 700px;
        height: 415px;
    }
    .slider_caption{
        margin-top: 30px;
        max-width: 24rem;
        a{
            color: white;
        }

    }
   
}
    .hero-slider-slide-background{
        background:  $gradient;
      }

    
@media screen and (max-width: 990px) {
    #hero{
    
        .slider_caption{
            margin: 0 auto;
            margin-top: 30px;
            a{
                font-size: .7rem;
            }
        }
      
    }
  }
@media screen and (max-width: 900px) {
    #hero{
        text-align: center;
        img{
            display: none;
        }
        .slider_caption{
            text-align: center;
            margin: 0 auto;
            margin-top: 30px;
            a{
                font-size: .7rem;
            }
        }
      
    }
  }