$color_1: #272b41;
$font-family_1: sans-serif;
$font-family_2: "Muli", sans-serif;

.account {
	margin-top: 2.66667rem;
	margin-bottom: 13.33333rem;
}
p {
	line-height: 1.8rem;
	margin-top: 0;
	margin-bottom: 1rem;
}
.container {
	max-width: 1300px !important;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.col-1 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-2 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-3 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-4 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-5 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-6 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-7 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-8 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-9 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-10 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-11 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-12 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-sm-1 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-sm-2 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-sm-3 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-sm-4 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-sm-5 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-sm-6 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-sm-7 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-sm-8 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-sm-9 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-sm-10 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-sm-11 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-sm-12 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-sm {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-sm-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-md-1 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-md-2 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-md-3 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-md-4 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-md-5 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-md-6 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-md-7 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-md-8 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-md-9 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-md-10 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-md-11 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-md-12 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-md {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-md-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-lg-1 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-lg-2 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-lg-3 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-lg-4 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-lg-5 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-lg-6 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-lg-7 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-lg-8 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-lg-9 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-lg-10 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-lg-11 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-lg-12 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-lg {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-lg-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xl-1 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xl-2 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xl-3 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xl-4 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xl-5 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xl-6 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xl-7 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xl-8 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xl-9 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xl-10 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xl-11 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xl-12 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xl {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xl-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
html {
	font-family: $font-family_1;
	line-height: 1.15;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h4 {
	font-size: 1.2rem;
	margin-bottom: 0;
	font-family: $font-family_2;
	font-weight: 700;
	line-height: 1.2;
	color: $color_1;
	margin-top: 0;
	margin-bottom: 0;
}
.h4 {
	font-size: 1.2rem;
	margin-bottom: 0;
	font-family: $font-family_2;
	font-weight: 700;
	line-height: 1.2;
	color: $color_1;
}
h1 {
	margin-bottom: 0;
	font-family: $font-family_2;
	font-weight: 700;
	line-height: 1.2;
	color: $color_1;
	margin-top: 0;
	margin-bottom: 0;
}
h2 {
	margin-bottom: 0;
	font-family: $font-family_2;
	font-weight: 700;
	line-height: 1.2;
	color: $color_1;
	margin-top: 0;
	margin-bottom: 0;
}
h3 {
	margin-bottom: 0;
	font-family: $font-family_2;
	font-weight: 700;
	line-height: 1.2;
	color: $color_1;
	margin-top: 0;
	margin-bottom: 0;
}
h5 {
	margin-bottom: 0;
	font-family: $font-family_2;
	font-weight: 700;
	line-height: 1.2;
	color: $color_1;
	margin-top: 0;
	margin-bottom: 0;
}
h6 {
	margin-bottom: 0;
	font-family: $font-family_2;
	font-weight: 700;
	line-height: 1.2;
	color: $color_1;
	margin-top: 0;
	margin-bottom: 0;
}
.h1 {
	margin-bottom: 0;
	font-family: $font-family_2;
	font-weight: 700;
	line-height: 1.2;
	color: $color_1;
}
.h2 {
	margin-bottom: 0;
	font-family: $font-family_2;
	font-weight: 700;
	line-height: 1.2;
	color: $color_1;
}
.h3 {
	margin-bottom: 0;
	font-family: $font-family_2;
	font-weight: 700;
	line-height: 1.2;
	color: $color_1;
}
.h5 {
	margin-bottom: 0;
	font-family: $font-family_2;
	font-weight: 700;
	line-height: 1.2;
	color: $color_1;
}
.h6 {
	margin-bottom: 0;
	font-family: $font-family_2;
	font-weight: 700;
	line-height: 1.2;
	color: $color_1;
}
.flex {
	display: -moz-box;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	display: -moz-box;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
}
.mobile-show {
	display: none !important;
}
.space-between {
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
	.col-md-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-md-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
